
<div class="quiz-container" >
    <div class="question box">
      <p><span>1.</span> What does CSS stand for?</p>
    </div>
    <ul class="answers">
      <li class="answer box">
        <p><span>a</span> Computer Style Sheets</p>
      </li>
      <li class="answer box">
        <p><span>b</span> Cascading Style Sheets</p>
      </li>
      <li class="answer box">
        <p><span>c</span> Colorful Style Sheets</p>
      </li>
      <li class="answer box">
        <p><span>d</span> Creative Style Sheets</p>
      </li>
    </ul>
  </div>
