<app-header></app-header>
<div class="card">
  <div class="card-body">

    <div id="countdown">
      <div id='tiles' [ngClass]="{'color-full': full, 'color-half':half, 'color-empty':empty}">
        <h4 id="timer"><i class="fa fa-hourglass-half"></i> {{ellapsedTime}} / {{duration}}</h4>
      </div>
      <div class="countdown-label">Time Remaining</div>
    </div>
    <h4 class="card-title">Question {{count}}/3</h4>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="30"
        style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
        Question {{count}}
      </div>
    </div>
    <ng-template question-host></ng-template>
    <div *ngIf="count < 3; then activeQuiz; else lastQuestion"> </div>
    <ng-template #activeQuiz>
      <button type="button " class="btn btn-primary " (click)="getNextQuestion() ">Next</button>
    </ng-template>
    <ng-template #lastQuestion>
      <button type="button " class="btn btn-primary " disabled (click)="getNextQuestion() ">Next</button>
    </ng-template>
    <button type="button " class="btn btn-warning " (click)="endQuiz() ">Submit</button>
  </div>
</div>
<!-- <app-footer></app-footer> -->
