<!-- <div class="player">
  <h3>Quiz</h3>
   <h4>Time: {{ellapsedTime}} / {{duration}}</h4>
</div>
<app-mcq (onResponse)="onResponseReceived($event)" [question]="question"></app-mcq>
<button class="btn-player" (click)="getNextQuestion()"   >Next</button>
<button class="btn-player" (click)="endQuiz()">Submit</button> -->
<app-header></app-header>
<div class="card">
  <div class="card-body">

    <h4>Time: {{ellapsedTime}} / {{duration}}</h4>

    <h4 class="card-title">Question {{count}}/10</h4>

    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0"
        aria-valuemax="100" style="min-width: 2em;" [style.width]="(progress/100)*100 + '%'">
        Question {{count}}/10
      </div>
    </div>





    <ng-template question-host ></ng-template>
    <div *ngIf="count < 10; then activeQuiz; else lastQuestion"> </div>
      <ng-template #activeQuiz>
        <button type="button " class="btn btn-primary " (click)="getNextQuestion() ">Next</button>
      </ng-template>
      <ng-template #lastQuestion>
        <button type="button " class="btn btn-primary " disabled (click)="getNextQuestion() ">Next</button>
      </ng-template>
      <button type="button " class="btn btn-warning " (click)="endQuiz() ">Submit</button>
    </div>
  </div>
  <app-footer></app-footer>
