.question-text {
  font-weight: 700;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.options {
  margin-top: 18px;
  padding-left: 0;
  list-style-type: none;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300 !important;
  background-color: #fff;
  margin-bottom: 5px;
  text-align: justify;
  font-size: 20px;
}
