<mat-card class= "quiz-container">
  <mat-card-content>
    <div class="question box">
      <h2 class="question">{{question.questionText}}</h2>
    </div>
    <h3>
      <mat-radio-group class="answers" [(ngModel)]="response">
        <mat-radio-button class="answer box" *ngFor="let q of question.optionList" [value]="q.option">
          {{q.option}}
        </mat-radio-button>
      </mat-radio-group>
      <div class="example-selected-value">Your selected option is : {{response}}</div>
    </h3>
  </mat-card-content>
</mat-card>
