    <h4>Quiz Domains</h4>
    <div class="row" style="margin-top: 50px">
      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small blue">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">code</i></span>
            <span class="card-panel-caption">Java</span>
          </div>
          <p class="card-panel-content">Java: write once, run away!</p>
          <div class="card-content card-panel-content">
            <button  id = "showResult" mat-stroked-button (click)="startQuiz()"> Click Here to see Result</button>
            <button  mat-stroked-button (click)="startQuiz()"> Click Here to Take Quiz</button>
          </div>
        </div>
      </div>
    </div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">
