<!-- <mat-card class="domain">
  <mat-card-header>
    <mat-card-title>
      <h1>Test Yourself</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul class="domain-item" class="grid-container">
      <li *ngFor="let domain of Domains">
        <mat-card >
          <mat-card-header>
            <mat-card-title>
              <h2>{{domain.name}}</h2>
            </mat-card-title>
            <mat-card-subtitle>
              <h4> Test your Concept in {{domain.name}}</h4>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="startQuiz()"> Click Here to Take Quiz</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>
  </mat-card-content>
</mat-card> -->
    <div class="row" style="margin-top: 50px">
      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small blue">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">code</i></span>
            <span class="card-panel-caption">Java</span>
          </div>
          <p class="card-panel-content">General-purpose computer-programming language that is concurrent, class-based, object-oriented</p>
          <button class="card-panel-content" mat-button (click)="startQuiz()"> Click Here to Take Quiz</button>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small pink">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">book</i></span>
            <span class="card-panel-caption">Maths</span>
          </div>
          <p class="card-panel-content">Mother of Science but only to be used as tools and left with Arts</p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small yellow darken-3">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">nature_people</i></span>
            <span class="card-panel-caption">Science</span>
          </div>
          <p class="card-panel-content">Know the reason behind every fiction</p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small yellow darken-3">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">security</i></span>
            <span class="card-panel-caption">Cyber security</span>
          </div>
          <p class="card-panel-content">Don’t leave a trail from your cookies.</p>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="card-panel hoverable small red">
          <div class="card-panel-header">
            <span class="card-panel-icon"><i class="material-icons">account_balance</i></span>
            <span class="card-panel-caption">Finance</span>
          </div>
          <p class="card-panel-content">It’s our business to know your business.</p>
        </div>
      </div>

    </div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">
