<app-header></app-header>
<div class="row" style="margin-top: 60px">
  <div class="col s12 m4 l4"  *ngFor="let num of lengthOfQuizArray">
    <div class="card-panel hoverable small grey">
      <div class="card-panel-header">
        <span class="card-panel-icon"><i class="material-icons">code</i></span>
        <span class="card-panel-caption">Quiz-{{num}}</span>
      </div>
      <div class="card-content card-panel-content">
        <button  mat-stroked-button (click)="startQuiz()"> Click Here to see Quiz-{{num}} Result</button>
      </div>
    </div>
  </div>

</div>
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">

