<div class="container">
  <h5 id="dashboard"><a (click)="dashboard()"><i class="fa fa-arrow-left"> Back to Domains</i></a></h5>
  <h5 id="title">Learning Recommendations for {{domain}}</h5>
</div>
<div class="container buttons">
  <button id="showResult" mat-flat-button color="primary" (click)="result()"> Click Here to see Result</button>
  <button id="startQuiz" mat-flat-button color="primary" (click)="startQuiz()"> Click Here to Take Quiz</button>
</div>
<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <div class="mdl-grid">
      <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp" *ngFor="let item of RecommendationData">
        <figure class="mdl-card__media">
          <img src="https://tfirdaus.github.io/mdl/images/html5.jpg" alt="" />
        </figure>
        <div class="mdl-card__title">
          <h1 class="mdl-card__title-text">{{item.conceptName}}</h1>
        </div>
        <div class="mdl-card__supporting-text">
          <p>{{item.title}}</p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{item.url}}" target="_blank">Read More</a>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
        </div>
      </div>
    </div>
  </main>
</div>
<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.indigo-pink.min.css">
