.card-content{
  width: 90%;
  position: absolute;
  bottom: 5%;
}

.material-icons {
  font-size: 48px;
}

#showResult {
  margin-left: 5%;
  margin-bottom: 5%;
  float: right;
}
#startQuiz {
  float: right;
}

#dashboard {
  float: left;
}

#title {
  float:right;
}

.container {
  width: 100% !important;
}

