<div class="container">
  <h5 id="dashboard"><a (click)= "dashboard()" ><i class="fa fa-arrow-left">  Back to Domains</i></a></h5>
  <h5 id="title">Learning Recommendations for {{domain}}</h5>
</div>
<div class="container buttons">
  <button  id = "showResult" mat-flat-button color="primary" (click)="result()"> Click Here to see Result</button>
  <button  id="startQuiz" mat-flat-button color="primary" (click)="startQuiz()"> Click Here to Take Quiz</button>
</div>
    <div class="row" style="margin-top: 50px">
      <div class="col s12 m4 l4" *ngFor="let item of DomainData;let i = index">
        <div class="card-panel small blue">
          <div class="card-panel-header">
            <span class="card-panel-caption">{{item}}</span>
          </div>
          <div class="card-panel-content embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="{{source}}"></iframe>
          </div>
        </div>
      </div>
    </div>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">
