<div class="container">
  <h5 id="dashboard"><a (click)= "dashboard()" ><i class="fa fa-arrow-left">  Back to Domains</i></a></h5>
  <h5 id="title">Learning Recommendations for {{domain}}</h5>
</div>
<div class="container buttons">
  <button  id = "showResult" mat-flat-button color="primary" (click)="result()"> Click Here to see Result</button>
  <button  id="startQuiz" mat-flat-button color="primary" (click)="startQuiz()"> Click Here to Take Quiz</button>
</div>
<div class="skill-card" *ngFor="let item of RecommendationData">
  <header class="skill-card__header"><img class="skill-card__icon" src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML5 Logo"/></header>
  <section class="skill-card__body">
    <h2 class="skill-card__title">html</h2><span class="skill-card__duration">6 ans d'expérience</span>
    <ul class="skill-card__knowledge">
      <li>HTML5</li>
      <li>Sémantique</li>
      <li>SVG</li>
      <li>Canvas</li>
    </ul>
  </section>
</div>
