.quiz-result-wrapper {
  font-family: 'Roboto', sans-serif;
  padding-top: 80px;
  height: 100vh;
  background: linear-gradient(180deg,#3f51b5 50%, #fff 50%);
}

.detail-card {
  margin-top: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.score-card-action-btn, .score-card-title, .score-card-details {
  color: white;
}

.score-card-details {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.score-card-details-description {
  margin-bottom: -15px;
  text-align: center;
}

.score-card-details-percentage {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-align: center;
}

.score-card-action-btn {
  border-color: white;
  margin-right: 5px;
}

.detail-card-title {
  font-family: 'Roboto', sans-serif;
  color: black;
}
