.card{
  text-align: center;
  margin-top: 34px;
  padding: 35px 50px 65px 50px;
  border: 3px solid rgba(0,0,0,.125);
  border-radius: 2.25rem;
  font-size: 30px;
  font-family: 'Signika','Times New Roman', Times, serif
}
.card-columns{
  column-gap: 6.25rem;

}
.card-text{
  font-weight: bold;
}
.card-body
{
  padding: 0.25rem;
}
.panel {
  margin-top: 78px;
}
.fa-tasks{
  color:rgb(209, 121, 39);
}
.fa-percentage{
  color:rgb(14, 157, 223)
}
.fa-edit{
  color:rgb(9, 134, 47);
}
.fa-address-card{
  color: darkred;
}
.buttonDiv{
  margin-top: 73px;
  margin-bottom: -50px;
}

mat-card{
  height: 158px;
  width: 278px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;

}
/* .currentCard{
  margin-bottom: 100px;
} */
.cumulative{
  align-self: center;
}
.question , .totalscore {
  text-align: center;
  margin: 15px;
  color:brown;
  font-family:'Times New Roman', Times, serif;

}
table{
  width:100%;
  margin-bottom: 20px;
}
tr,td,th
{
 text-align: center;
  border:1px solid rgb(24, 39, 179);
  font-family:'Times New Roman', Times, serif;
  font-size: 19px;
}
.user_domain{
  text-align: right;
  margin-right: 26px;
  margin-top: 22px;
  display: block;
  font-size: 23px;


}



