<app-header [homePage]="true" [validSignup]="true" (notifyLogIn)='onLoginNotify($event)' (notifySignIn)='onSignInNotify($event)'></app-header>
<div class="hero">
  <img src="../../assets/images/Potential-of-Change.jpg" class="overlay" />
  <div class="heroalert alert alert-success alert-dismissible fade in" *ngIf="signup" role="alert" data-auto-dismiss="2000"
    id="fifth">
    Successfully registered!
  </div>
  <div class="herotext" id="first">
    <h2>Potenti-o-meter</h2>
    <p>Diagnosis of each candidate, rather than the group.</p>
  </div>
  <div class="herotext" id="second">
    <h2>Potenti-o-meter</h2>
    <p>Personalized and tailored Tests.</p>
  </div>
  <div class="herotext" id="third">
    <h2>Potenti-o-meter</h2>
    <p>better data analytics and accurate results</p>
  </div>
  <div class="herobutton" id="fourth">
    <button type="button" id="Signup" (click)="onSignInNotify()" class="btn btn-primary btn-outline btn-responsive">Sign
      Up
    </button>
    <button type="button" id="Signin" (click)="onLoginNotify()" class="btn btn-primary btn-outline btn-responsive">Sign In</button>
  </div>
  <div class="bounce" routerLink="." fragment="OurWork"><i class="fa fa-angle-double-down"></i></div>
</div>

<div class="vc_empty_space" style="height: 60px"></div>

<div id="AboutUs">
  <h2 class="container-fluid text-center" id="whatWeDo">What Do We Do</h2>
  <div class="vc_empty_space" style="height: 15px"></div>
  <div class="header_line"></div>
  <div class="vc_empty_space" style="height: 40px"></div>

  <div class="row cover">
    <div class="col-md-4 text-center" id="OurWork">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <div class="row vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Smarter_training.png"
            class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
        <div class="row">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h3 style="text-align: center;">Varied Domains</h3>
              <p style="text-align: center;">We provide you a platform where you can give tests on varied domains.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Ease_onboarding.png"
            class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
        <div class="row">
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
              <h3 style="text-align: center;">Adaptive Questions</h3>
              <p style="text-align: center;">Get adaptive questions through our beautifully designed algorithm.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="col-md-4 text-center">
      <div class="col-md-11">
        <div class="vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Improve_support.png"
            class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
        <div class="row">
          <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
              <h3 style="text-align: center;">Brain Mapping</h3>
              <p style="text-align: center;">Obtain your knowledge graph and track your progress.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>

<div class="vc_empty_space" style="height: 90px"><span class="vc_empty_space_inner">
    <span class="empty_space_image"></span>
  </span>
</div>
<div>
  <h2 class="container-fluid text-center" id="howItWorks">How Potenti-o-meter works</h2>
</div>
<div class="vc_empty_space" style="height: 15px"></div>
<div class="header_line"></div>
<div class="vc_empty_space" style="height: 40px"></div>

<div class="row cover">
  <div class="col-md-6">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="vc_empty_space" style="height: 30px"></div>
      <h3>Interconnected Questions</h3>
      <div class="left_header_line"></div>
      <div class="vc_empty_space" style="height: 20px"></div>
      <p>Questions in our bank are interconnected with concepts with the help of graph data structure.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="col-md-6">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <img width="600" height="422" src="/src/assets/images/Design-1.png" class="img_big" alt="Design">
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="vc_empty_space" style="height: 60px"></div>

<div class="row cover">
  <div class="col-md-6">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <img width="600" height="422" src="/src/assets/images/Engage_v2.0.gif" class="img_big" alt="Design">
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="col-md-6">
    <div class="col-md-10">
      <div class="vc_empty_space" style="height: 30px"></div>
      <h3>Adaptive</h3>
      <div class="left_header_line"></div>
      <div class="vc_empty_space" style="height: 20px"></div>
      <p>We analyse the correctness of your answer, depending on that we'd shoot you the next question just to keep your confidence intact.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<div class="vc_empty_space" style="height: 60px"></div>

<div class="row cover">
    <div class="col-md-6">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="vc_empty_space" style="height: 30px"></div>
        <h3>Potentiometric Analytics</h3>
        <div class="left_header_line"></div>
        <div class="vc_empty_space" style="height: 20px"></div>
        <p>We create a brain map for you in the subject so you can track your progress and see how you improved</p>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-6">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <img width="600" height="422" src="/src/assets/images/Analyze-1.png" class="img_big" alt="Design">
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>

<div class="vc_empty_space" style="height: 100px"></div>

<h3 id="discover_text">Discover how Potenti-o-meter can help you realize your true potential</h3>
<div class="vc_empty_space" style="height: 8px"></div>
<div _ngcontent-c1="" class="header_line"></div>
<div class="vc_empty_space" style="height: 30px"></div>

<div id="discover_signup">
    <button type="button" (click)="onSignInNotify()" class="btn_discover"> <a id="disc_signup_a"> SIGN UP</a> </button>
</div>

<div class="vc_empty_space" style="height: 100px"></div>

<app-footer></app-footer>
