@import url('https://fonts.googleapis.com/css?family=Signika');

@import url('https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.alert {
  margin-top:50px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.hero{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background: #392f28;
  position: relative;
  color: #392f28;

}

img {
  opacity: 0.4;
  height: 100%;
  width: 100%;
  object-fit: contain
}

.herotext {
  color:#FFFFFF;
  visibility: hidden;
  font-size: 28px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}

.herobutton {
  width:100%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 70%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}

.heroalert{
  width:30%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}

.arrowbutton {
  height: 50px;
  width:100%;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 60%;
  z-index: 1;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}


h2 {font-size: 3em;}

#first {
  animation: fade-first 14s linear infinite;
}

#second {
  animation: fade-second 14s linear infinite;
}
#third {
  animation: fade-third 14s linear infinite;
}

@keyframes fade-first {
  0% {opacity:0; visibility:hidden;}
  3% {opacity:1; visibility:visible;}
  30% {opacity:1; visibility:visible;}
  33% {opacity:0; visibility:hidden;}
  100% {opacity:0; visibility:hidden;}
}

@keyframes fade-second {
  0% {opacity:0; visibility:hidden;}
  33% {opacity:0; visibility:hidden;}
  36% {opacity:1; visibility:visible;}
  63% {opacity:1; visibility:visible;}
  66% {opacity:0; visibility:hidden;}
  100% {opacity:0; visibility:hidden;}
}

@keyframes fade-third {
  0% {opacity:0; visibility:hidden;}
  66% {opacity:0; visibility:hidden;}
  69% {opacity:1; visibility:visible;}
  96% {opacity:1; visibility:visible;}
  100% {opacity:0; visibility:hidden;}
}

@media all and (max-width: 1158px) {
  .herotext{
    font-size: 26px;
  }
}

@media all and (max-width: 1075px) {
  .herotext{
    font-size: 22px;
  }
}

@media all and (max-width: 912px) {
  .herotext{
    font-size: 20px;
  }
}

@media all and (max-width: 827px) {
  .herotext{
    font-size: 18px;
  }
  .herobutton{
    top:75%;
  }
}

@media all and (max-width: 745px) {
  .herotext{
    font-size: 16px;
  }
}

@media all and (max-width: 662px) {
  .herotext{
    font-size: 14px;
  }
  .btn {
    width: 80px;
  }
}

@media all and (max-width: 579px) {
  .herotext{
    font-size: 12px;
  }
  .btn {
    width: 60px;
  }
}

@media all and (max-width: 497px) {
  .herotext{
    font-size: 10px;
  }
  .btn {
    width: 40px;
  }
  .herobutton{
    top:80%;
  }
}

@media all and (max-width: 414px) {
  .herotext{
    font-size: 8px;
  }
  .btn {
    width: 20px;
  }
}

@media all and (max-width: 331px) {
  .herotext{
    font-size: 6px;
  }
  .btn {
    width: 10px;
  }
}

.btn {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 120px
}

.btn.btn-outline {
  background: 0 0
}

.btn-outline.btn-primary {
  border-color: #ffffff;
  color: #ffffff
}

.btn-outline.btn-primary:focus,
.btn-outline.btn-primary:hover {
  color: #000000;
  border: color #000000;
  background-color: #ffffff;
}

#Signup{
  margin-right: 1%;
}

#Signin{
  margin-left: 1%;
}

/* a.arrow{
  color: white;
  text-align: center;
  font-size: 3em;
  text-decoration: none;
  padding-bottom:30px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
   transition: color 0.2s ease-out;
}
a.arrow:hover {color: #FFC52F;} */

/* @media only screen and (min-width: 767px) {
  body {
        font-size: 1.125em;
    }
    .container {
        background-size: 100%;
    }
    .container h1 {
        font-size: 3.25em;
    }
    a.button {
        padding: .75em 1.5em;
    }
} */

.fa {
  width: 60px;
  display: block;
  text-align: center;
  color:#ffffff;
  font:normal 45px 'FontAwesome';
  line-height:60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
 }
 .fa-angle-double-down:before {content: "\f103";}

 .bounce {
  position: absolute;
  bottom: 30px;
  left: 50% ;
  width: 60px;
  top: 80%;
  height: 60px ;
  margin-left:-30px;
  border: 2px solid #ffffff;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  border-radius:50%;
  animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite;
  -o-animation: bounce 2s infinite;
 }

 @-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
 }

 @-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
 }

 @-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
 }
 @keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
 }
