<app-header [homePage]="true" [validSignup]="true" (notifyLogIn)='onLoginNotify($event)' (notifySignIn)='onSignInNotify($event)'></app-header>
<div class="hero">
  <img src="../../assets/images/Potential-of-Change.jpg" class="overlay" />
  <div class="heroalert alert alert-success alert-dismissible fade in" *ngIf="signup" role="alert" data-auto-dismiss="2000"
    id="fifth">
    Successfully registered!
  </div>
  <div class="herotext" id="first">
    <h2>Potenti-o-meter</h2>
    <p>Diagnosis of each candidate, rather than the group.</p>
  </div>
  <div class="herotext" id="second">
    <h2>Potenti-o-meter</h2>
    <p>Personalized and tailored Tests.</p>
  </div>
  <div class="herotext" id="third">
    <h2>Potenti-o-meter</h2>
    <p>better data analytics and accurate results</p>
  </div>
  <div class="herobutton" id="fourth">
    <button type="button" id="Signup" (click)="onSignInNotify()" class="btn btn-primary btn-outline btn-responsive">Sign
      Up
    </button>
    <button type="button" id="Signin" (click)="onLoginNotify()" class="btn btn-primary btn-outline btn-responsive">Sign In</button>
  </div>
  <div class="bounce" routerLink="." fragment="OurWork"><i class="fa fa-angle-double-down"></i></div>
</div>

<div id="AboutUs">
  <h2 class="container-fluid text-center" id="whatWeDo">What Do We Do</h2>
  <div class="row cover">
    <div class="col-md-5 text-center" id="OurWork">
      <div class="row vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Smarter_training.png"
          class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
      <div class="row">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3 style="text-align: center;">Effective User Onboarding</h3>
            <p style="text-align: center; margin: 20px 125px;">Accelerated and effective user onboarding with real-time in-app
              guidance.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 text-center">
      <div class="vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Ease_onboarding.png"
          class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
      <div class="row">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3 style="text-align: center; margin: 21px -45px">Effective User Onboarding</h3>
            <p style="text-align: center; margin: -4px -45px;">Accelerated and effective user onboarding with real-time in-app
              guidance.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-center">
      <div class="vc_single_image-wrapper vc_box_border_grey"><img width="136" height="80" src="../../assets/images/Improve_support.png"
          class="vc_single_image-img attachment-thumbnail" alt="Ease Onboarding"></div>
      <div class="row">
        <div class="wpb_text_column wpb_content_element ">
          <div class="wpb_wrapper">
            <h3 style="text-align: center;">Effective User Onboarding</h3>
            <p style="text-align: center; margin: 20px 125px;">Accelerated and effective user onboarding with real-time in-app
              guidance.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vc_empty_space" style="height: 60px"><span class="vc_empty_space_inner">
    <span class="empty_space_image"></span>
  </span>
</div>
<div>
  <h2 class="container-fluid text-center" id="howItWorks">How Potenti-o-meter works</h2>
</div>

<div class="vc_empty_space" style="height: 60px"><span class="vc_empty_space_inner">
    <span class="empty_space_image"></span>
  </span>
</div>


