<app-header [homePage]="true" [validSignup]="true" [userDetail]="false" (notifyLogIn)='onLoginNotify($event)' (notifySignIn)='onSignInNotify($event)'></app-header>
<div class="alert alert-success alert-dismissible fade in" *ngIf="signup" role="alert" data-auto-dismiss="2000">
  Successfully registered!
</div>
<div class="hero">
    <img src="../../assets/images/Potential-of-Change.jpg" class="overlay"/>
      <div class="herotext" id="first">
        <h2>Potenti-o-meter</h2>
        <p>Diagnosis of each candidate, rather than the group.</p>
      </div>
      <div class="herotext" id="second">
        <h2>Potenti-o-meter</h2>
        <p>Personalized and tailored Tests.</p>
      </div>
      <div class="herotext" id="third">
        <h2>Potenti-o-meter</h2>
        <p>better data analytics and accurate results</p>
      </div>
      <div class="herobutton" id="fourth">
        <button type="button" id ="Signup" (click)="onSignInNotify()" class="btn btn-primary btn-outline btn-responsive">Sign Up</button>
        <button type="button" id = "Signin" (click)="onLoginNotify()" class="btn btn-primary btn-outline btn-responsive">Sign In</button>
      </div>
      <div class="bounce"><i class="fa fa-angle-double-down"></i></div>
</div>
