<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h3 class="text-uppercase">Potenti-o-meter</h3>
        <img src="../../../assets/images/logo.svg" alt="logo">
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3 social-links about">

          <!-- Links -->
          <h5 class="text-uppercase ">About</h5>

          <ul class="list-unstyled">
            <li>
              <a>Our Ethics</a>
            </li>
            <li>
              <a>How it Works</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3 social-links contactus">

          <!-- Links -->
          <h5 class="text-uppercase">Contact Us</h5>

          <ul class="list-unstyled">
            <li>
              <i class="fa fa-facebook-f"></i>
              <a>facebook</a>
            </li>
            <li>
              <i class="fa fa-twitter"></i>
              <a>twitter</a>
            </li>
            <li>
              <i class="fa fa-instagram"></i>
              <a>instagram</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a> Potenti-o-meter</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
